// Folders
$images:    '../images/';
$sprite:    '../images/images-sprite/';
$icons:     '../images/images-vector/';

// Colors
$color-success: green;
$color-danger: red;

$body-bg: white;
$header-col: $color-danger;
$p-col: $color-success;